.careList {
  display: flex;
  justify-content: space-between;
  .left {
    width: 182rpx;
    // 坑点：calc 里面的减号两边至少打一个空格
    height: calc(100vh - 100rpx);
    background-color: #f3f3f3;
    .left-nav {
      font-size: 28rpx;
      color: #585858;
      height: 80rpx;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .active {
      color: #ea4350;
      border-left: 4rpx solid #ea4350;
    }
  }
  .right {
    flex: 1;
    //~"" 输出源文件 因为在less文件中不同单位运算有问题,防止出bug,要输出源文件
    // 坑点：calc 里面的减号两边至少打一个空格
    height: ~"calc(100vh - 100rpx)";
    .right-title {
      height: 80rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30rpx;
      color: #575757;
    }
    .right-body {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      margin-bottom: 21rpx;
      .body-list {
        font-size: 25rpx;
        color: #2e2e2e;
        margin: 0 35rpx;
        text-align: center;
      }
      .img {
        width: 120rpx;
        height: 120rpx;
      }
    }
  }
}
