.careList {
  display: flex;
  justify-content: space-between;
  .left {
    width: 182rpx;
    // 坑点：calc 里面的减号两边至少打一个空格
    height: calc(100vh - 100rpx);
    background-color: #f3f3f3;
    .left-nav {
      font-size: 28rpx;
      color: #585858;
      height: 80rpx;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .active {
      color: var(--publicColor);
      position: relative;
      &::before {
        content: "";
        width: 4rpx;
        height: 60%;
        background-color: currentColor;
        position: absolute;
        left: 0;
      }
    }
  }
  .right {
    flex: 1;
    //~"" 输出源文件 因为在less文件中不同单位运算有问题,防止出bug,要输出源文件
    // 坑点：calc 里面的减号两边至少打一个空格
    height: ~"calc(100vh - 100rpx)";
    .right-title {
      height: 80rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30rpx;
      &::before,
      &::after {
        content: "/";
        color: #ccc;
        padding: 0 10rpx;
      }
    }
    .right-body {
      display: flex;
      flex-wrap: wrap;
      .body-list {
        width: 33.3333%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20rpx;
        box-sizing: border-box;
        font-size: 24rpx;
      }
      .img {
        width: 120rpx;
        height: 120rpx;
      }
    }
  }
}
